<!-- templates/digilab/medical_history.html -->
{% extends 'partials/base.html' %}
{% block title %}Medical History{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            {% include 'partials/patient_sidebar.html' %}
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <h2 class="mt-4 mb-4 text-center">Medical History</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;">
                            Blood Test - 80%
                        </div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 60%;">
                            Urine Test - 60%
                        </div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%;">
                            X-Ray - 40%
                        </div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%;">
                            MRI - 20%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
